html{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
body {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* STAGE ONE STARTS HERE */

.header-con {
    display: flex;
    background-color: #1F2937;
    height: max-content;
    width: 100%;
    flex-flow: column;
    justify-content: space-around;
    margin: 0px;
    padding: 0px;
    border: 0px;
    border-radius: 5px;
    flex: 1;
}

.header-con h2 {
    display: flex;
    align-items: center;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;

}



.header {
    display: flex;
    align-items: center;
    padding: 18px;
    justify-content: space-between;
    font-size: 24px;
    color: #F9FAF8;
    background-color: #121d2c;

}

.head2 {
    display: flex;
    padding: 8px;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
    flex-wrap: wrap;

}

.head2 p {
    width: 500px;
    font-size: 18px;
    color: #e5e7eb;

}

.head2 img {
    display: flex;
    padding: 0px;
    margin: 0%;
    border: 0px;
    height: 300px;

}

.wrap {
    display: flex;
    flex-direction: column;
    width: min-content;
    overflow: hidden;
}

.wrap button {
    display: flex;
    font-size: 18px;
    border-style: none;
    border-radius: 6px;
    align-self: flex-end;
    padding: 10px;
    background-color: #3882f6;
    color: white;

    transition: transform .3s ease-in-out
}

.wrap button:hover {
    transform: scale(1.08);
    box-shadow: 5px 5px #121d2c;
}

.wrap h2 {
    margin: 0%;

}

.header ul {
    display: flex;
    gap: 20px
}

li {
    list-style: none;
}

.header a {
    text-decoration: none;
    color: antiquewhite;
}

#mobile-button{
    display: none;
}

/* STAGE TWO STARTS HERE*/
.stage-two {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    text-align: center;
    flex-wrap: wrap;
}

.text {
    padding: 15px;
    position: absolute;
    width: 200px;
    opacity: 0;
    transition: all 0.4s ease-out
}


.stage-two img {
    width: 200px;
    height: 200px;
    border-width: 4px;
    border-style: solid;
    border-color: #3882f6;
    border-radius: 15px;
    transition: transform .3s ease-in-out;
    isolation: isolate;
}

.stage-two img:hover {
    transform: scale(1.08);
    box-shadow: 5px 5px #cccccc;
}

.stage-two a:hover+.text {
    visibility: visible;
    opacity: 1;
    transition: all 0.4s ease-in;
}



.text,
.top-text {
    font-family: monospace;
}

.top-text {
    font-size: x-large;
    padding: 10px;
    font-weight: bold;
}



.stage-two-info {
    display: flex;
    justify-content: center;
    margin: 30px;
    font-family: monospace;
}


/*STAGE THREE STARTS HERE*/

.stage-three {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #e5e7eb;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 10px;
    width: 100%;
    height: 400px;
    overflow-x: auto;
}

.stage-three-text {
    display: flex;
    flex-direction: column;
    font-size: 36px;
    font-style: italic;
    padding: 10px;
    color: #1F2937;
    text-align: center;
    width: 800px;
    height: min-content;
}

.stage-three-text h3 {
    align-self: flex-end;
    margin-right: 20px;
    justify-self: end;
    font-size: medium;
}

/*STAGE FOUR STARTS HERE*/
.stage-four-con {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.stage-four {
    display: flex;
    height: 150px;
    width: 950px;
    background-color: #3882f6;
    padding: 10px;
    border-radius: 10px;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.stage-four-text {

    display: flex;
    width: 550px;
    color: #F9FAF8;
    flex-direction: column;

    justify-content: center;
}

.stage-four-text h2 {
    padding: 0px;
    margin-bottom: 5px;
}

.stage-four button {
    font-size: 18px;
    color: white;
    background-color: #3882f6;
    height: fit-content;
    border-style: solid;
    border-radius: 6px;
    border-color: #F9FAF8;
    padding: 7px;
    margin: 10px;

    transition: transform .3s ease-in-out;
}

.stage-four button:hover {
    transform: scale(1.08);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 80px;
    background-color: #1F2937;
    color: antiquewhite;
    padding: 10px;
}

.footer a {
    text-decoration: none;
    color: antiquewhite;
}


.footer ul {
    display: flex;
    gap: 18px;
}

@media (max-width:900px) {
    .stage-two {
        gap: 90px;
    }

    .stage-three-text {
        font-size: large;
        width: 400px;
    }

    .stage-three {
        width: min-content;
        border-radius: 12px;

    }

    .head2 {
        width: max-content;
    }

    .head2 img {
        display: none;
    }

    .header a {
        font-size: large;

    }

    .head2 h2 {
        font-size: x-large;
    }

    .text {
        text-align: center;
        animation: fadeIn 4s;
        animation-fill-mode: forwards;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }


    }

    .wrap button {
        display: none;
    }

    #mobile-button{
        display: flex;
        font-size: 20px;
        border-style: none;
        border-radius: 6px;
        align-self: flex-end;
        padding: 10px;
        margin-left: 15px;
        background-color: #3882f6;
        color: white;
        flex-wrap: wrap;
        }
        

}

@media (max-width:450px) {

    .stage-three-text {
        font-size: large;
        width: 350px;
    }

    .stage-three {
        width: min-content;


    }

    .header a {
        font-size: 12px;

    }

    .header {
        font-size: medium;
    }

    .head2 h2 {
        font-size: x-large;
    }

   .head2{
    flex-wrap: wrap;
   }
    #mobile-button{
        font-size: 9px;

    }
    

    .head2 p {
        font-size: small;
        width: 300px;

    }

    .stage-four {
        width: 80%;
    }

    .stage-four-text {
        font-size: medium;
        width: 300px;
        font-size: small;
    }

    .stage-four-text h2 {
        font-size: medium;
    }

    .stage-four button {
        font-size: 13px;
    }

    

    .footer,
    .footer a {
        font-size: x-small;
    }

    .stage-two-info {
        text-align: center;

    }

    .stage-three {
        height: 300px;
    }

    .stage-two-info h1 {
        font-size: x-large;
    }

    .text{
        padding: 5px;
    }


}